@{
    ViewBag.Title = "MapView";
}

<div id="map"></div>
<script src="//api-maps.yandex.ru/2.1/?load=package.standard&lang=ru-RU" type="text/javascript"></script>
<script type="text/javascript" src="~/Scripts/js/assets/custom-map.js"></script>
<script type="text/javascript" src="~/Scripts/js/assets/custom.js"></script>
<script src="~/Scripts/MapScripts/MapUtils.js"></script>
<script src="~/Scripts/MapScripts/MapController.js"></script>
<script src="~/Scripts/MapScripts/Main.js"></script>
