.companyDetailsCommon {
    width: 260px;
    word-wrap: break-word;
    padding: 10px;
}
.imgWrapper {
    box-shadow:  inset 0px 0px 83px 33px rgba(0,0,0,0.31);
}

.companyDetailsImg {
    background-image: url(https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcS1X24OL0XceTu80WY_0-V-2kWRYgNTP4AXfUGdIgwm7-p8h_Yf);
    width: 260px;
    height: 160px;
    position: relative;
    background-size: cover;
    cursor: pointer;
}
.companyDetailsName {
    color: white;
    text-shadow: 1px 1px 1px rgba(0,0,0,.5);
    font-size: 18px;
    /*padding: 135px 5px 5px 5px;*/
    bottom: -5px;
    opacity: 1;
    position: absolute;
    padding-left: 8px;
}
.companyDetailsEmail {
    cursor: pointer;
}

.ymaps-2-1-47-balloon__content {
    padding: 0px !important;
    margin: 0px !important;
}
.ymaps-2-1-47-balloon__close-button:hover {
    color: white;
    text-shadow: 1px 1px 1px rgba(0,0,0,.5);
}
.ballon_header { 
    font-size: 18px; 
    color: white;
    padding-bottom: 4px;
    
    text-shadow: 1px 1px 1px rgba(0,0,0,.5);
    text-align: left;
    top: 15px;
    left: 5px;
    opacity: 1;
    position: absolute;
}
.ballon_body { 
    font-size: 14px; 
    text-align: left;
    background-image: url(https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcS1X24OL0XceTu80WY_0-V-2kWRYgNTP4AXfUGdIgwm7-p8h_Yf);
    height: 160px;
    margin-top: 10px;
}
.ballon_body p {
    bottom: 0px;
    position: absolute;
    color: white;
}
.ballon_footer { font-size: 12px; text-align: right; color: #7D7D7D; margin-top: 10px; }