<div id="contact-map"></div>

<div id="hdnLatitude" style="display:none">@ViewBag.CompanyDetails.Latitude</div>
<div id="hdnLongitude" style="display:none">@ViewBag.CompanyDetails.Longitude</div>
<script src="https://api-maps.yandex.ru/2.1/?lang=ru-RU" type="text/javascript"></script>
<script type="text/javascript" src="~/Scripts/js/assets/custom-map.js"></script>
<script type="text/javascript" src="~/Scripts/js/assets/custom.js"></script>
<script type="text/javascript"  src="~/Scripts/MapScripts/ContactMapScript.js"></script>
<script type="text/javascript"  src="~/Scripts/MapScripts/MapUtils.js"></script>
