<div class="container">
            <section class="center submission-message">
                <header>Фото успешно добавлены!</header>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum euismod quam sapien</p>
                <a  class="link-arrow">Продолжить загрузку</a>
            </section>
  </div><!-- /.container -->